[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
redis = "*"
pymongo = "*"
gevent = "*"
scylla-driver = "*"
celery = "*"

[dev-packages]
faker = "==15.3.4"
ipdb = "*"

[requires]
python_version = "3.9"
